<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.dao.StudentDao">
    <resultMap type="Student" id="StudentResult">
        <result property="id" column="id"/>
        <result property="pic" column="pic"/>
        <result property="name" column="name"/>
        <result property="university" column="university"/>
        <result property="college" column="college"/>
        <result property="profession" column="profession"/>
        <result property="fraction" column="fraction"/>
    </resultMap>

    <select id="findStudents" resultMap="StudentResult">
        select id,pic,name,university,college,profession,fraction from student limit 7
    </select>
   
    <insert id="addStudent" parameterType="Student">
       insert into student values (#{id},#{pic},#{name},#{university},#{college},#{profession},#{fraction})
    </insert>
   
</mapper> 